@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

.shop-container {
margin-top: 150px;
}


.overlay {
    margin-top: 250px;
}

.login, .signup {
    width: 310px;
    margin: auto;
}

.mugs-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}