.overlay {
    margin-top: 250px;
}

h1 {
    text-align: center;
}

.dasboard-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.n-wrapper {
    width: 100%;
}
 
.form-control {
    border-color: black !important;
    background-image: none !important;
}

.invalid-feedback {
    display: none !important;
}

.asteriskField {
    display: none !important;
}

label {
    text-align: left;
}

.control-btn {
    width: 100%;
    background-color: #2C3333;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 0.35em 0em;
}

.control-btn:hover {
    color: white;
    padding: 0.35em;
    background-color: #395B64;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-wrapper {
    margin-top: 10px;
}

.back-btn {
    background-color: #A5C9CA;
    color: #2C3333;
    padding: 0.35em;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 100px;
}

.back-btn:hover,
.back-btn:active {
    text-decoration: none;
}

a {
    color: #2C3333;
}

a:visited { 
    color: #2C3333
}
a:hover {
    color: #A5C9CA
}

/* control panel table */
.table-responsive {
    width: 80% !important;
    margin: auto;
}

