.alert{
    max-width: 400px;
    margin: 200px auto;
    height: auto;
}

.news-c {
    margin: 100px auto;
    width: 80%;
    height:100vh;
}


.news-wrapper {
    max-width: 400px;
    margin: auto;
    height: 300px;
}

input {
    width: 100%;
    border-radius: 3px;
    padding: 0.35em;
}

.news-btn {
    width: 100%;
    color: white !important;
    padding: 0.35em;
    background-color: #2C3333;
    border-radius: 3px;
    margin-top: 5px;
}


.news-btn:hover {
    color: white;
    padding: 0.35em;
    background-color: #395B64;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.back-btn {
    text-align: center;
    background-color: #A5C9CA;
    color: #2C3333;
    padding: 0.35em;
    cursor: pointer;
    border-radius: 3px;
}

.back-btn:hover,
.back-btn:active {
    text-decoration: none;
}

a {
    color: #2C3333;
}

a:visited { 
    color: #2C3333
}
a:hover {
    color: #A5C9CA
}

