@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

.index-container {
    width: 100%;
    height:auto;
    margin-top: 150px;
    background: url('https://res.cloudinary.com/dontkrfjd/image/upload/v1660896253/close-up-marble-textured-wall_a7hwmc.jpg11') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
    border-color: red;
}

.heading-1 {
    
    text-align: center;
    margin-top: 200px;
}

.button-container {
    margin: auto;
    margin-top: 200px;
    width: 200px;;
    display: flex;
    justify-content: center;
}

.shop-btn{
    font-size: larger;
    color: white;
    background-color: #2C3333;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

a {
    color: black;
}

.shop-btn:visited {
    color: white;
    text-decoration: none;
}
