@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

.index-container {
    height:auto;
    margin-top: 150px;
    background: url('') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.heading-1 {
    text-align: center;
    margin-top: 250px;
}

.button-container {
    margin: auto;
    margin-top: 200px;
    width: 200px;;
    display: flex;
    justify-content: center;
}

.shop-btn{
    font-size: larger;
    color: white;
    background-color: #2C3333;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

a {
    color: #2C3333;
}

a:hover {
    color: #A5C9CA
}

.shop-btn:visited, .shop-btn:hover {
    color: white;
    text-decoration: none;
}
