@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.overlay {
    margin-top: 50px;
}

.heading-1 {
    text-align: center;
    margin-top: 50px;
}


.button-container {
    margin: auto;
    margin-top: 200px;
    width: 200px;;
    display: flex;
    justify-content: center;
}

.shop-btn{
    font-size: larger;
    color: white;
    background-color: #2C3333;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
}

a {
    color: #2C3333;
}

a:hover {
    color: #395B64;
}

.shop-btn:visited {
    color: white;
    text-decoration: none;
}

.shop-btn:hover {
    background-color: #395B64;
    text-decoration: none;
}
