@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.overlay {
    margin-top: 250px;
}

.login, .signup {
    width: 310px;
    margin: auto;
}

.signup-btn {
    width: 100%;
    color: white;
    background-color: #395864;  
    border: none; 
    border-radius: 3px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.sub-btn {
    background-color: #395864;
}
