@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.overlay {
    margin-top: 50px;
}

.login, 
.signup,
.signout {
    width: 310px;
    margin: auto;
}

.text-signout {
    text-align: center;
}

.signout-btn {
    width: 100%;
    color: white;
    background-color: #d62424;  
    border: none; 
    border-radius: 3px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.signup-btn {
    width: 100%;
    color: white;
    background-color: #395864;  
    border: none; 
    border-radius: 3px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}


a {
    color: #2C3333;
}

a:visited { 
    color: #2C3333
}
a:hover {
    color: #A5C9CA
}


/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    margin: auto;
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
