{% extends 'base.html' %}

{% load static %}


{% block corecss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}

{% block corejs %}
<script src="https://kit.fontawesome.com/9a2761774c.js" crossorigin="anonymous"></script>
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/newsletter/newsletter.css' %}">
{% endblock %}


{% block content %}

<div class="fixed-bottom">
    <div class="news-wrapper">
        <h3 class="h6">Signup for our newsletter</h3>
        <form class="news-form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="news-btn" type="submit">Submit</button>
        </form>
        <div class="btn-wrapper">
            <a class="back-btn" href="{% url 'home' %}">back to shop</a>
        </div>
    </div>
</div>

{% endblock %}