{% load static %}

{% load crispy_forms_tags %}

<footer class="bg-light text-center text-lg-start fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <form action="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-auto mb-4 mb-md-0">
                  
                </div>
                <!--Grid column-->

                <!--Grid column-->
                {% include 'newsletters/newsletters.html' %}
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-auto mb-4 mb-md-0">
                    <!-- Submit button -->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark">Balance ceramics</a>
    </div>
    <!-- Copyright -->
</footer>