{% load static %}

{% load crispy_forms_tags %}


{% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
    {% endblock %}

<footer class="fixed-bottom">
    <div class="container-fluid text-center">
        <a href="{% url 'newsletter_signup' %}" class="sub-btn">subscribe</a>
        <a href="{% url 'news_unsubscribe' %}" class="unsub-btn">unsubscribe</a>
    </div>
    
    <div class="text-center p-3 d-flex justify-content-center" style="background-color: #E7F6F2;">
        <span class="fw-bold" style="font-weight: bold;">phone: 222 222 222</span>
        <div class="mx-3">
        © 2022 Copyright:
        <span class="fw-bold" style="font-weight: bold;">Balance ceramics</span>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/balance_ceramics/" target="_blank" rel="external"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/Balance-Ceramics-102421489274785" target="_blank" rel="external"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    <div>
    </div>
</footer>
