{% load static %}

{% load crispy_forms_tags %}


{% block extra_css %}
      <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
    {% endblock %}

<footer class="fixed-bottom">
    <div class="container-fluid text-center">
        <a href="{% url 'newsletter_signup' %}" class="sub-btn">subscribe</a>
        <a href="{% url 'news_unsubscribe' %}" class="unsub-btn">unsubscribe</a>
    </div>
    
    <div class="text-center p-3 d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.2);">
        <span class="fw-bold">phone: 222 222 222</span>
        <div class="mx-3">
        © 2022 Copyright:
        <a class="fw-bold">Balance ceramics</a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/balance_ceramics/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    <div>
    </div>
</footer>
