<div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav justify-content-center m-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Mugs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Bowls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">Contact</a>
        </li>
      </ul>
</div>