@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}


.footer-wrapper {
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
}


.sub-btn,
.unsub-btn  {
    color: white !important;
    padding: 0.35em;
    background-color: #2C3333;
    border-radius: 3px;
}

.sub-btn:hover,
.unsub-btn:hover {
    color: white;
    padding: 0.35em;
    background-color: #395B64;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.sub-btn:active,
.unsub-btn:active {
    text-decoration: none;
}





