{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/control_panel/control_panel.css' %}">
{% endblock %}


{% block content %}

<div class="overlay"></div>

<h1>email dashboard</h1>
<div class="navbar-wrapper">
    <nav class="nav justify-content-center m-auto">
        <ul class="nav justify-content-center">
            <li class="nav-item m-3">
                <a class="nav-link" href="{% url 'control_newsletter_list' %}">
                    email list
                </a>
            </li>
            <li class="nav-item m-3">
                <a class="nav-link" href="{% url 'control_newsletter' %}">
                    new letter
                </a>
            </li>
        </ul>
    </nav>
</div>
{%block control-content %}
{% endblock %}

{% endblock %}