@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.overlay {
    margin-top: 50px;
}

.heading-1 {
    margin: auto;
}



.hero-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text-container {
    max-width: 500px;
    text-align: justify;
    margin-right: 20px;
}

.hero-image  {
    max-width: 300px;
}

.a-container {
    max-width: 820px; 
    margin: auto;
}

a {
    color: #2C3333;
}

a:visited { 
    color: #2C3333
}
a:hover {
    color: #A5C9CA
}

.news-btn {
    width: 100%;
    color: white !important;
    padding: 0.35em;
    background-color: #2C3333;
    border-radius: 3px;
    margin-top: 5px;
}


.news-btn:hover {
    color: white;
    padding: 0.35em;
    background-color: #395B64;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}


.sub-btn,
.unsub-btn  {
    color: white !important;
    padding: 0.35em;
    background-color: #2C3333;
    border-radius: 3px;
    text-decoration: none;
}

.sub-btn:hover,
.unsub-btn:hover {
    color: white;
    padding: 0.35em;
    background-color: #395B64;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.sub-btn:active,
.unsub-btn:active {
    text-decoration: none;
}


.map-wrapper {
    display: flex;
    justify-content: center;
}


.contacts-items-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 253px;
}

span {
    font-weight: bold;
    line-height: 2em;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    margin: auto;
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* media queries */

@media only screen and (max-width: 1154px) {
    .hero-container {
      flex-direction: column;
      align-items: center;
    }
    .map-wrapper {
        margin-bottom: 150px;
    }
  }

  @media only screen and (max-width: 772px) {
    .map-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }



  @media only screen and (max-width: 512px) {
    .hero-container {
        width: 98%;
    }
    
    .hero-image {
      width: 200px;
      overflow: hidden;
      margin: auto;
    }
  }

