.overlay {
    margin-top: 250px;
}

.login, 
.signup,
.signout {
    width: 310px;
    margin: auto;
}

.text-signout {
    text-align: center;
}

.signout-btn {
    width: 100%;
    color: #2c3333;
    background-color: #E7F6F2;  
    border: none; 
    border-radius: 3px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}

.signup-btn {
    width: 100%;
    color: white;
    background-color: #395864;  
    border: none; 
    border-radius: 3px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
}