{% extends 'control_base.html' %}

{% load static %}

{% block corecss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="styleshhet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/control_panel/control_panel.css' %}">
{% endblock %}


{% block control-content %}

<div class="col-sm9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div>
        <h2>{{ newsletter.subject }}</h2>
    </div>
    <div>
        {{ newsletter.body }}
    </div>
    <div>
        <a class="text-primary" href="{% url 'control_newsletter_edit' %}">edit</a>
    </div>
    <div>
        <a href="{% url 'control_newsletter_delete' %}" class="text-danger">delete</a>
    </div>
</div>
<div class="btn-wrapper">
    <a class="back-btn" href="{% url 'home' %}">back to shop</a>
</div>


{% endblock %}